* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blue !important;
  margin: 100px auto;
}

.btn_1 {
  background-color: crimson;
}

.btn_1:hover {
  background-color: orangered;
}
.nav-link {
  color: #222;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
}
.dropdown:hover .dropdown-menu{
  display: block;
}

@media (max-width: 1289px) {
  .apply {
    display: none;
  }
}